.form-data
{
    border-radius: 12px;
    box-shadow: 0px 0px 10px black;
    padding: 24px;
    background-color: rgb(167, 167, 167);
}

input[type = "file"]
{
    display: none;
}

label
{
    text-align: center;
    height: 40px;
    width: 150px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;    
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 6px;
    cursor: pointer;
}

label#lblUserPhoto
{
    background-color: rgb(110, 100, 156);
    color: white;
}

label#lblDocExcel
{
    background-color: rgb(60, 161, 69);
    color: white;
}

body
{
    background-image: url('../images/ImgBg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



h1,h3
{
    color: white;
    text-shadow: 0px 0px 3px black;
}

tr
{
    background-color: #fff;
}
td
{    
    border: 1px solid black;
    text-align: center;
    max-height: min-content;
}